.btnIcon {
  font-size: 0.9rem;
  line-height: 0.8rem;
}

.subcatTitle {
  font-size: 0.7rem;
  height: 1.75rem;
  padding: 0 0.75rem;
}

.itemsContainer {
  background-color: #fdfdfe;
  padding: 12px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size-width));
  grid-auto-rows: var(--card-size-height);
  gap: var(--card-gap);
}

@media (hover: hover) {
  .btnIcon:hover {
    opacity: 0.8;
  }
}
