.container {
  min-height: 100vh;
  min-height: 100%;
  min-height: var(--app-height);
}

:global(.motd-visible) .container {
  margin-top: var(--motd-height);
}

:global(.overlay-active) .container {
  margin-top: calc(var(--overlay-alert-height) + var(--motd-height));
}
