.DS_Store
.idea
.vscode
crates/wasm/overlay/data
crates/wasm/overlay/dist
crates/wasm/overlay/sources
lcov.info
npm-debug.log*
target
target-wasm
ui/embed/dist
ui/embed/node_modules
ui/embed/static/*
ui/webapp/dist
ui/webapp/node_modules
ui/webapp/static/*
yarn-debug.log*
yarn-error.log*
target
web/node_modules
web/dist
web/static/*
embed/node_modules
embed/dist
embed/static/*
*.mjs
