[package]
name = "landscape2"
description = "Landscape2 CLI tool"
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.70"

[dependencies]
anyhow = "1.0.75"
askama = { version = "0.12.0", features = ["serde-json"] }
askama_escape = { version = "0.10.3", features = ["json"] }
async-trait = "0.1.73"
aws-config = "0.56.1"
aws-sdk-s3 = "0.30.0"
chrono = { version = "0.4.30", features = ["serde"] }
clap = { version = "4.4.2", features = ["derive"] }
csv = "1.2.2"
deadpool = "0.9.5"
dirs = "5.0.1"
futures = "0.3.28"
hex = "0.4.3"
lazy_static = "1.4.0"
leaky-bucket = "1.0.1"
markdown = "1.0.0-alpha.12"
mime_guess = "2.0.4"
num_cpus = "1.16.0"
octorust = "0.3.2"
parse_link_header = "0.3.3"
regex = "1.9.5"
reqwest = { version = "0.11.20", features = ["native-tls-vendored"] }
rust-embed = "8.0.0"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.106"
serde_yaml = "0.9.25"
sha2 = "0.10.7"
tokio = { version = "1.32.0", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
url = "2.4.1"
usvg = "0.35.0"
uuid = { version = "1.4.1", features = ["serde", "v5"] }
walkdir = "2.4.0"

[dev-dependencies]
mockall = "0.11.4"

[build-dependencies]
anyhow = "1.0.75"
which = "4.4.2"
