[data-theme='light'] {
  --bs-primary: var(--color1);
  --bs-secondary: var(--color2);
  --color-font: #38383f;

  --color-stats-1: #0086ff;
  --color-stats-2: #567241;

  .text-secondary {
    color: var(--color2) !important;
  }

  .border-primary {
    border-color: var(--color1) !important;
  }

  .btn-outline-primary {
    border-color: var(--color1);
    color: var(--color1);

    &:not(.disabled):not(:disabled):not(:active):not(.active):hover {
      background-color: var(--color1-hover);
      color: var(--bs-white);
    }

    &:active,
    &.active {
      background-color: var(--color1);
      color: var(--bs-white);
    }
  }

  .btn-secondary {
    background-color: var(--color2);
    border-color: var(--color2);

    &:not(.disabled):not(:disabled):hover,
    &:focus,
    &:active,
    &.active {
      filter: brightness(95%);
    }
  }

  .form-check-input:checked {
    background-color: var(--color2);
    border-color: var(--color2);
  }
}
