.grid {
  --card-size-width: 75px;
  --card-size-height: 68px;

  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size-width));
  grid-auto-rows: var(--card-size-height);
  gap: var(--card-gap);
}
