.loadingWrapper {
  min-height: 500px;
}

.wrapper {
  background-color: var(--bs-white);
  max-height: 90%;
  width: 90%;
}

.catTitle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  width: 2.5rem;
  font-size: 0.8rem;
}

.subcatTitle {
  font-size: 0.8rem;
  height: 2rem;
}

.content {
  background-color: var(--bs-gray-100);
  padding: 0.6rem;
  max-height: calc(100% - 35px);
}

.grid {
  --card-size-width: 75px;
  --card-size-height: 68px;

  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size-width));
  grid-auto-rows: var(--card-size-height);
  gap: var(--card-gap);
}
