.tableLayout {
  table-layout: fixed;
}

.thead {
  font-size: 0.8rem;
}

.thead th {
  color: var(--bs-gray-600);
}

.tableContent td {
  font-size: 0.9rem;
  line-height: 2;
}

.minCol {
  width: 200px;
}

.collapsedBtn {
  font-size: 0.8rem;
}

@media only screen and (max-width: 991.98px) {
  .minCol {
    width: 150px;
  }
}

@media only screen and (max-width: 767.98px) {
  .thead {
    font-size: 0.6rem;
  }

  .tableContent td {
    font-size: 0.75rem;
    line-height: 1.5;
  }

  .minCol {
    width: 90px;
  }
}
