.modalDialog {
  min-height: calc(100% - 10rem) !important;
  max-height: calc(100% - 10rem) !important;
  margin: 5rem auto !important;
}

.loadingWrapper {
  min-height: 500px;
}

.logoWrapper {
  height: 120px;
  width: 100px;
  min-width: 100px;
}

.logo {
  font-size: 3rem;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.itemInfo {
  background-color: #f8f9fa;
  width: calc(100% - 100px - 1rem);
  height: 140px;
  padding: 1rem 1.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.name {
  padding-bottom: 5px;
}

.description {
  font-size: 0.9rem;
}

.additionalInfo {
  font-size: 0.75rem;
}

.additionalInfo small {
  font-size: 0.7rem;
}

.starIcon {
  font-size: 0.6rem;
}

.badge {
  background-color: var(--bs-gray-500);
}

.badgeOutlineDark {
  border-color: var(--bs-gray-700) !important;
  color: var(--bs-gray-700);
}

.miniBadge {
  font-size: 0.65rem;
}

.location {
  font-size: 0.8rem;
}

.link {
  position: relative;
  color: inherit;
  height: 24px;
  line-height: 22px;
  width: auto;
}

.link:hover {
  color: var(--color1);
}

.link svg {
  position: relative;
  height: 18px;
  width: auto;
  margin-top: -4px;
}

.fieldset {
  padding: 1.5rem 1.75rem;
  margin-top: 2rem;
}

.fieldset + .fieldset {
  margin-top: 3rem;
}

.fieldsetTitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--color4);
  top: -0.35rem;
  left: 1rem;
}

.statusLegend {
  font-size: 0.7rem;
}

.highlighted {
  background-color: var(--bs-gray-100);
}

.highlightedTitle {
  color: var(--color3);
  font-size: 2rem;
}

.highlightedLegend {
  color: var(--bs-tertiary-color);
  line-height: 0.7rem;
  padding-bottom: 0.75rem;
}

.tableRepos td {
  font-size: 0.9rem;
  line-height: 2;
}

.summary .summaryBlock + .summaryBlock {
  margin-top: 1.15rem;
}

.summaryTitle {
  font-size: 0.7rem;
  opacity: 0.5;
}

.summaryContent {
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  .highlightedTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .modalDialog {
    width: 95%;
    max-width: 95%;
  }
}
