.fieldset {
  padding: 1.5rem 1.75rem;
}

.fieldsetTitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--color4);
  top: -0.35rem;
  left: 1rem;
}

.maturityBadge {
  width: 100px;
  background-color: var(--bs-gray-500);
}

.activeMaturityBadge {
  position: relative;
  background-color: var(--color3);
}

.statusLegend {
  font-size: 0.7rem;
}

.line::after {
  position: absolute;
  content: '';
  top: 0.7rem;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--color3);
  z-index: -1;
}

.line::before {
  position: absolute;
  content: '';
  top: 0.7rem;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--bs-gray-200);
  z-index: -1;
}

:global(.incubatingLine)::after {
  right: 50%;
}

:global(.sandboxLine)::after {
  display: none;
}
