.logoWrapper {
  height: 55px;
  width: 55px;
  min-width: 55px;
}

.logo {
  font-size: 3rem;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.title {
  font-size: 1.05rem;
  line-height: 1.5;
  /* Close button - modal */
  padding-right: 1.75rem;
}

.badges {
  font-size: 85%;
  height: 21px;
}

.badges :global(.badge) {
  height: 18px;
  line-height: 16px;
  font-size: 10.25px !important;
  padding: 0 0.65rem;
}

.link {
  position: relative;
  color: inherit;
  height: 25px;
  line-height: 25px;
  width: auto;
}

.link:hover {
  color: var(--color1);
}

.link svg {
  position: relative;
  height: 20px;
  width: auto;
  opacity: 75%;
  margin-top: -2px;
}

.itemInfo {
  background-color: #f8f9fa;
  width: calc(100% - 45px - 1rem);
  height: 85px;
}

.name {
  padding-bottom: 2px;
}

.titleInSection {
  font-size: 0.9rem;
  opacity: 0.5;
}

.subtitleInSection {
  font-size: 0.9rem;
  opacity: 0.5;
}

.description {
  font-size: 0.9rem;
}

.section {
  font-size: 0.8rem;
}

.section small {
  font-size: 80%;
  opacity: 0.5;
}

.additionalInfo {
  font-size: 0.75rem;
}

.additionalInfo small {
  font-size: 0.7rem;
}

.starIcon {
  font-size: 0.6rem;
}

.badge {
  background-color: var(--bs-gray-500);
}

.badgeOutlineDark {
  border-color: var(--bs-gray-700) !important;
  color: var(--bs-gray-700);
}

.tagBadge {
  height: 20px;
}

.miniBadge {
  font-size: 0.65rem;
}

.location {
  font-size: 0.9rem;
}

.link {
  position: relative;
  color: inherit;
  height: 24px;
  line-height: 22px;
  width: auto;
}

.link:hover {
  color: var(--color1);
}

.link svg {
  position: relative;
  height: 18px;
  width: auto;
  margin-top: -1px;
}

.sectionTitle + .sectionTitle {
  margin-bottom: 3rem;
}

.sectionTitle {
  font-size: 1rem;
  color: var(--color4);
  margin-bottom: 1rem;
}

.statusLegend {
  font-size: 0.7rem;
}

.thead {
  font-size: 0.8rem;
}

.thead th {
  color: var(--bs-gray-600);
}

.tableContent td {
  font-size: 0.9rem;
  line-height: 2;
}

.summary .summaryBlock + .summaryBlock {
  margin-top: 1.15rem;
}

.summaryContent {
  font-size: 0.9rem;
}

.summaryBadge {
  background-color: var(--color-stats-1);
}

.tableLayout {
  table-layout: fixed;
}

.reposCol {
  width: 150px;
}

.auditsCol {
  width: 120px;
}

.auditsColMd {
  width: 200px;
}

.tableLink {
  font-size: 0.8rem;
}

.text {
  font-size: 0.9rem;
}

.clomonitorReport {
  max-width: 100%;
}
