.chart {
  height: 80px;
}

.bar {
  width: 2%;
  background-color: var(--color3);
}

.message {
  font-size: 0.8rem;
}

.month {
  font-size: 0.7rem;
}

.axisLegend {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 0.6rem;
  width: 1.25rem;
}

.axisValue {
  font-size: 0.6rem;
  line-height: 0.6rem;
}
