.chart {
  height: 80px;
}

.bar {
  width: 2%;
  background-color: var(--color-stats-1);
}

.message {
  font-size: 0.8rem;
}

.month {
  font-size: 0.7rem;
}

.axisLegend {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 0.6rem;
  line-height: 1.75;
  width: 1.15rem;
}

.axisValue {
  font-size: 0.6rem;
  line-height: 0.6rem;
}

@media only screen and (max-width: 767.98px) {
  .bar {
    min-width: 2px;
    margin: 0 1px !important;
  }
}
