.fieldsetTitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--color4);
  top: -0.35rem;
  left: 1rem;
}

.titleInSection {
  font-size: 0.8rem;
  opacity: 0.5;
}

.subtitleInSection {
  font-size: 0.8rem;
  opacity: 0.5;
}

.badgeOutlineDark {
  border-color: var(--bs-gray-700) !important;
  color: var(--bs-gray-700);
}

.miniBadge {
  font-size: 0.65rem;
}

.select {
  width: 500px;
  max-width: calc(100% - 0.4rem);
  box-shadow: 0 0 0 0.2rem var(--bs-gray-200);
  margin: 0 0.2rem;
  font-size: 0.8rem;
}

.select:focus {
  box-shadow: 0 0 0 0.2rem var(--bs-gray-200) !important;
}

.externalIcon,
.repoIcon {
  min-width: 24px;
}

.linkWrapper {
  max-width: 100%;
}

.truncateWrapper {
  min-width: 0;
  max-width: 100%;
}

.linkContentWrapper {
  max-width: calc(100% - 1.5rem);
}

.goodFirstBadge {
  height: 19px;
}

.goodFirstBadge img {
  border: 1px solid var(--bs-gray-700);
  max-height: 100%;
}

.badges {
  row-gap: 0.5rem;
}
