.card {
  width: 44px;
  height: 40px;
}

.bigCard {
  width: 90px;
  height: 82px;
  padding: 0.5rem;
  padding-bottom: 1.15rem;
  grid-column-end: span 2;
  grid-row-end: span 2;
  border-color: var(--bs-gray-dark) !important;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.legend {
  font-size: 0.5rem;
}
