.footer {
  padding: 3rem 4rem;
}

.logoWrapper {
  margin-right: 5rem;
  margin-top: 0.15rem;
}

.logo {
  height: 40px;
  max-width: 250px;
}

.hr {
  margin: 2rem 0;
}

.socialIcons {
  font-size: 1.75rem;
}

.legend {
  font-size: 0.7rem;
  color: var(--bs-gray-400);
}

.legend a {
  padding: 0;
  font-weight: 700;
  color: var(--bs-white);
  text-decoration: underline;
}

.cookieBtnWrapper {
  display: none;
  right: 3rem;
  bottom: 2rem;
}

:global(.osano-loaded) .cookieBtnWrapper {
  display: block;
}

.cookieBtn {
  transition:
    transform 0.1s linear 0s,
    opacity 0.4s linear 0ms;
  opacity: 0.9;
  font-size: 1.75rem;
  line-height: 1.75;
}

.cookieBtn:hover {
  opacity: 1;
  transform: scale(1.1);
  transform-origin: center;
}

@media (hover: hover) {
  .link:hover {
    color: var(--color2);
  }
}

@media only screen and (max-width: 991.98px) {
  .footer {
    padding: 2rem 1rem;
  }

  .socialIcons {
    font-size: 1.5rem;
  }

  .link {
    margin-top: 0.5rem;
  }

  .cookieBtnWrapper {
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .logo {
    height: 34px;
    max-width: 250px;
  }
}
