.table {
  font-size: 0.9rem;
  border-color: rgb(209, 209, 209) !important;
}

.table th {
  color: var(--bs-gray-700);
}

.grayCell > * {
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.projectsCol {
  width: 90px;
  max-width: 90px;
  min-width: 90px;
}

.caretCol {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}

.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 575.98px) {
  .table {
    font-size: 0.8rem;
  }

  .caretCol {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
}
