.wrapper {
  top: 3rem;
  right: 5rem;
}

.btn {
  background: transparent;
  border: 0;
  opacity: 0.5;
  font-size: 1.5rem;
}

.dropdown {
  right: 0;
  font-size: 0.9rem;
}

@media (hover: hover) {
  .btn:hover {
    opacity: 0.75;
  }
}
