.title {
  font-size: 0.9rem;
}

.dropdownWrapper {
  width: 175px;
}

.dropdown {
  left: 0;
  top: 30px;
  min-width: 175px !important;
  width: 260px;
  max-height: 300px;
}

.btn {
  background-color: var(--body-bg);
  line-height: 1.5 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  padding: 0.25rem 0.5rem;
  padding-right: 2.25rem;
  color: #212529 !important;
  border-color: #ced4da !important;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btnRemove {
  font-size: 0.7rem;
}

.activeFilter {
  font-size: 0.75rem;
  padding-left: 0.35rem;
}

.closeBtn {
  padding: 0 0.35rem 0 0;
  margin-top: -1px;
}

.closeIcon {
  min-width: 15px;
}

.options {
  max-height: 300px;
}

.dropdown label {
  font-size: 0.8rem;
}

.dropdown input[type='text'] {
  font-size: 0.8rem;
}

@media (max-width: 1199.98px) {
  .dropdownWrapper {
    width: 150px;
  }

  .dropdown {
    min-width: 150px !important;
  }
}

@media (hover: hover) {
  .btn:hover {
    filter: none;
    background-color: var(--body-bg);
    border-color: var(--clo-secondary) !important;
  }
}
