.toc {
  width: 270px;
  max-width: 270px;
  font-size: 0.8rem;
}

.truncateWrapper {
  min-width: 0;
}

.subcategories {
  background-color: var(--bs-gray-100);
}

.arrow {
  left: -0.3rem;
  top: -1px;
}

.subcategoryBtn {
  color: var(--bs-body-color);
  font-size: 0.8rem;
  text-decoration: none;
}

.selected {
  color: black !important;
  opacity: 1 !important;
}

.subcategoryBtn:hover {
  text-decoration: underline;
}
