.toc {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  font-size: 0.8rem;
}

.truncateWrapper {
  min-width: 0;
}

.subcategories {
  background-color: var(--bs-gray-100);
}

.arrow {
  left: 0.15rem;
  top: 0.15rem;
}

.subcategoryBtn {
  color: var(--bs-body-color);
  font-size: 0.8rem;
  text-decoration: none;
}

.selected {
  color: black !important;
  opacity: 1 !important;
  background-color: rgba(0,0,0,0.035) !important;
}

.subcategoryBtn:hover {
  color: var(--bs-primary);
  text-decoration: underline;
  background-color: rgba(0,0,0,0.035);
}

.card {
  height: 237px;
  font-size: 90%;
  cursor: pointer;
}

.card :global(.badge) {
  font-size: 65%;
}

.card :global(.accepted-date) {
  display: flex !important;
}

.card:hover {
  border-color: var(--bs-primary) !important;
  box-shadow: 0px 0px 5px 0px var(--bs-focus-ring-color);
}
