.table {
  font-size: 0.9rem;
  border-color: rgb(209, 209, 209) !important;
}

.table th {
  color: var(--bs-gray-700);
}

.grayCell > * {
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.projectsCol {
  width: 100px;
}

.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 575.98px) {
  .table {
    font-size: 0.8rem;
  }
}
