<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (!isDev) { %>
      {% if let Some(images) = datasets.base.images %}
      {% if let Some(favicon) = images.favicon %}
      <link rel="shortcut icon" href="{{ favicon }}" />
      <link rel="apple-touch-icon" href="{{ favicon }}" />
      {% endif %}
      {% if let Some(open_graph) = images.open_graph %}
      <meta property="og:image" content="{{ open_graph }}">
      <meta name="twitter:image:src" content="{{ open_graph }}" />
      {% endif %}
      {% endif %}

      {% if let Some(description) = datasets.base.metadata_description %}
      <meta name="description" content="{{ description }}" />
      {% endif %}
      
      {% if let Some(keywords) = datasets.base.metadata_keywords %}
      <meta name="keywords" content="{{ keywords }}" />
      {% endif %}
      
      {% if let Some(thumbnail) = datasets.base.metadata_thumbnail %}
      <meta name="thumbnail" content="{{ thumbnail }}" />
      {% endif %}

      {% if let Some(osano) = osano %}
      <script defer src="https://cmp.osano.com/{{ osano.customer_id }}/{{ osano.customer_configuration_id }}/osano.js"></script>
      {% endif %}
    <% } %>
    <title>{{ datasets.base.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if let Some(analytics) = analytics %}
      {% if let Some(gtm) = analytics.gtm %}
        {% if let Some(tag) = gtm.container_id %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{tag}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{tag}}');
        </script>
        {% endif %}
      {% endif %}
    {% endif %}
    
    <% if (isDev) { %>
    <script>
      fetch("./static/data/base.json")
      .then(res => res.json())
      .then(data => window.baseDS = data);

      fetch("./static/data/stats.json")
      .then(res => res.json())
      .then(data => window.statsDS = data);
    </script>
    <% } else { %>
    <script>
      window.baseDS = {{ datasets.base|json_compact|safe }};
      window.statsDS = {{ datasets.stats|json_compact|safe }};
    </script>
    <% } %>
  </head>
  <body>
    <div id="landscape"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>


