.btn {
  background: transparent;
  border: 0;
  font-size: 1.25rem;
}

.btn:hover {
  color: var(--color2);
}

.dropdown {
  right: -0.75rem;
  top: 2.5rem;
  font-size: 0.9rem;
  width: 350px;
  border-color: var(--bs-gray-600);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.arrow {
  top: -0.5rem;
  right: 1rem;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem;
  border-color: transparent;
  border-bottom-color: var(--bs-gray-700);
  width: 0;
  height: 0;
}

.dropdownHeader {
  background-color: var(--bs-gray-200);
  font-size: 0.8rem;
}

.menuList {
  list-style: none;
}

.contentBtn {
  width: calc(100% - 30px);
}

.legend {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.icon {
  font-size: 1.25rem;
}

.spinner {
  top: -0.2rem;
  left: -0.35rem;
}
