.wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

.transparentBg {
  background-color: transparent;
}

.spinner {
  width: 3.5rem;
  height: 3.5rem;
}

.miniSpinner {
  width: 0.5rem;
  height: 0.5rem;
}
