.active {
  animation: fadeIn 0.25s 1 ease-in-out forwards;
  z-index: 1080;
}

.modal {
  overflow-y: auto;
}

.header {
  background-color: var(--rm-secondary-15);
  color: var(--rm-secondary);
}

.headerContent {
  max-width: calc(100% - 40px);
}

.content {
  border-color: var(--solid-border) !important;
  box-shadow: none !important;
  z-index: 10;
}

.activeBackdrop {
  animation: fadeIn50 0.15s 1 ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 575.98px) {
  .content {
    height: calc(90% - 1rem);
    width: 90%;
    margin: auto;
  }
}
