.active {
  animation-name: fadeIn;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1080;
}

.modal {
  overflow-y: auto;
}

.headerContent {
  max-width: calc(100% - 40px);
}

.btnCloseWrapper {
  top: 3rem;
  right: 3rem;
  z-index: 1;
}

.content {
  border-color: var(--bs-gray-500) !important;
  box-shadow: none !important;
  z-index: 10;
}

.activeBackdrop {
  animation-name: fadeIn50;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.btn {
  background: transparent;
  border: 0;
  opacity: 0.5;
  font-size: 1.5rem;
}

@media (hover: hover) {
  .btn:hover {
    opacity: 0.75;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 575.98px) {
  .content {
    height: calc(90% - 1rem);
    width: 90%;
    margin: auto;
  }
}
