.btnReset {
  font-size: 0.95em;
  line-height: 0.75rem;
  text-decoration: none;
}

.filterBadge {
  padding: 0rem 0.35rem;
  font-size: 0.625rem;
  color: var(--dark-blue);
  border-color: var(--dark-blue) !important;
}

.btnLegend {
  font-size: 0.75rem;
}
