.modal {
  margin-top: 7rem;
}

.fieldset {
  padding: 1.5rem 1.75rem;
}

.fieldsetTitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--dark-blue);
  top: -0.35rem;
  left: 1rem;
}

@media only screen and (max-width: 767.98px) {
  .modal {
    margin-top: 3rem;
  }
}

@media (max-width: 1199.98px) {
  .modal {
    width: 90%;
    max-width: 800px;
  }
}
