.searchBar {
  height: 33px;
  width: 100%;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--bs-gray-200);
}

.btnIcon {
  line-height: 0.9rem;
}

.iconWrapper {
  color: var(--bs-secondary);
}

.vr {
  margin: 0.4rem 0;
}

.legend {
  font-size: 0.7rem;
}

/* Dropdown */
.dropdown {
  width: 350px;
  top: 3.75rem;
  max-height: 250px;
  overscroll-behavior: contain;
  font-size: 0.85rem;
}

.activeFilter {
  font-size: 0.8rem;
}

.closeIcon {
  min-width: 15px;
}
