.wrapper {
  border: 1px solid var(--bs-gray-200);
}

.searchBar {
  height: 33px;
  width: 100%;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--bs-gray-200);
}

.btnIcon {
  line-height: 0.9rem;
}

.iconWrapper {
  color: var(--bs-secondary);
}

.vr {
  margin: 0.4rem 0;
}

.legend {
  font-size: 0.7rem;
}

.list {
  height: 200px;
  max-height: 200px;
  overscroll-behavior: contain;
  font-size: 0.85rem;
}
