.toc {
  font-size: 0.8rem;
}

.sticky {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  top: 5.5rem;
  bottom: 1rem;
  max-height: var(--menu-max-height, calc(var(--app-height) - 6.5rem));
}

:global(.motd-visible) .sticky {
  top: calc(5.5rem + var(--motd-height));
  max-height: var(--menu-max-height, calc(var(--app-height) - 6.5rem - var(--motd-height)));
}

:global(.overlay-active) .sticky {
  top: calc(5.5rem + var(--overlay-alert-height));
  max-height: var(--menu-max-height, calc(var(--app-height) - 6.5rem - var(--overlay-alert-height)));
}

:global(.overlay-active.motd-visible) .sticky {
  top: calc(5.5rem + var(--overlay-alert-height) + var(--motd-height));
  max-height: var(
    --menu-max-height,
    calc(var(--app-height) - 6.5rem - var(--overlay-alert-height) - var(--motd-height))
  );
}

.content {
  overflow-y: auto;
  max-height: 100%;
  overscroll-behavior: contain;
}

.truncateWrapper {
  min-width: 0;
}

.subcategories {
  background-color: var(--bs-gray-100);
}

.arrow {
  left: 0.15rem;
  top: 0.15rem;
}

.subcategoryBtn {
  color: var(--bs-body-color);
  font-size: 0.8rem;
  text-decoration: none;
}

.selected {
  color: black !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.035) !important;
}

.subcategoryBtn:hover {
  color: inherit;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.035);
}
