
.logoWrapper {
  min-height: 70px;
  min-width: 70px;
  width: 70px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.itemInfo {
  background-color: #f1f3f5;
  width: calc(100% - 70px);
}

.description {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: unset;
  white-space: inherit;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: normal;
  max-height: 36px;
}

.additionalInfo {
  font-size: 0.75rem;
}

.starIcon {
  font-size: 0.6rem;
}

.badge {
  background-color: var(--bs-gray-500);
}

.link {
  position: relative;
  color: inherit;
  margin-top: -4px;
}

.link:hover {
  color: var(--bs-primary);
}

.link svg {
  height: 14px;
  width: 14px;
}
