.roundedBtn {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  line-height: 0;
}

.filterBtn {
  height: 28px;
  font-size: 0.8rem;
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  right: -0.4rem;
  top: -0.4rem;
}

.btnGroup :global(.btn) {
  font-size: 0.75rem;
  min-width: 28px;
  min-height: 28px;
}

.btnSymbol {
  position: relative;
  font-size: 1.25rem;
  line-height: 0.5rem;
  margin-top: -2px;
}

.btnGroupLegend {
  font-size: 0.75rem;
}

.container {
  min-height: 400px;
}

.loadingContent {
  min-height: calc(100vh - 92px - 36px);
}
