.footer {
  padding: 4rem;
}

.content {
  width: 75%;
}

.logoCNCFWrapper {
  margin-right: 5rem;
}

.logoCNCF {
  height: 34px;
}

.qr {
  max-width: 70px;
}

.logo {
  height: 30px;
}

.footerCol {
  padding-right: 5rem;
}

.about {
  width: 450px;
}

.copyright {
  font-size: 0.7rem;
}

.hr {
  margin: 2rem 0;
}

@media only screen and (max-width: 991.98px) {
  .footer {
    padding: 2rem 1.5rem;
  }

  .footerCol,
  .fullMobileSection {
    padding: 0 1rem;
  }

  .footerCol {
    padding-bottom: 1.5rem;
  }

  .fullMobileSection {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 575.98px) {
  .content {
    width: 100%;
  }

  .about {
    max-width: 100%;
  }
}
