.logo {
  height: 48px;
}

.searchIcon {
  left: 0.75rem;
  top: 0.25rem;
}

.search {
  padding-left: 2.5rem;
}

.link {
  color: var(--color1) !important;
  letter-spacing: 2px;
  border-bottom: 6px solid transparent;
  margin-left: 2rem;
}

.link:global(.activeLink) {
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.githubIcon {
  margin-top: -0.25rem;
}

.link:hover:before {
  background-color: var(--color1);
  content: '';
  height: 4px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.link:global(.activeLink):before {
  background-color: var(--color1);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.link:global(.activeLink):hover:before {
  opacity: 1;
}

@media only screen and (max-width: 991.98px) {
  .link {
    font-size: 0.9rem;
  }
}
