html,
body,
#landscape {
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --card-size-width: 50px;
  --card-size-height: 45px;
  --card-gap: 5px;
  --light-blue: rgb(96, 149, 214);
  --dark-blue: rgba(0, 42, 81, 0.7);
}

button:focus,
a:focus,
input:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.noScroll-sidebar,
.noScroll-modal {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* Scroll */
.visibleScroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.visibleScroll::-webkit-scrollbar-thumb,
.visibleScroll::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background-color: var(--bs-gray-500);
  border: 2px solid var(--bs-white);
}

.visibleScroll::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Bootstrap */
.badge {
  font-weight: 600 !important;
}

a, .btn-link {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover, .btn-link:hover {
    text-decoration: underline;
  }
}
