.alertWrapper {
  z-index: 1040;
}

.alert {
  font-size: 0.8rem;
  border: 0;
  border: 1px solid transparent;
  border-width: 1px 0 1px 0;
}

.alertOverlay {
  height: var(--overlay-alert-height);
  cursor: none;
  position: relative;
  padding-right: 3rem;
  border-color: var(--bs-warning-border-subtle);
}

.legend {
  font-size: 2.5rem;
  margin-top: 2rem !important;
}

.errorAlert {
  width: 800px;
  max-width: 90%;
  max-height: 80%;
  height: 500px;
  margin-top: calc(var(--overlay-alert-height) + var(--motd-height));
}

.errorAlertHeading {
  font-size: 1.5rem;
}

.motd p {
  margin-bottom: 0.25rem;
}

.motd p:last-child {
  margin-bottom: 0;
}

.motdAlert {
  justify-content: center;
  gap: 1rem;
  min-height: 44px;
  background-color: var(--bs-gray-100);
  border-color: var(--bs-border-color);
}

.motdMessage {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: auto;
}

/* Motd message styles */
/* Hide all by default */
.motdMessage * {
  display: none;
}

/* Show only these elements */
.motdMessage a,
.motdMessage strong,
.motdMessage em,
.motdMessage i,
.motdMessage br {
  display: inline;
}
.motdMessage p,
.motdMessage h1,
.motdMessage h2,
.motdMessage h3,
.motdMessage h4,
.motdMessage h5,
.motdMessage h6,
.motdMessage ul,
.motdMessage ol {
  display: block;
}
.motdMessage h1,
.motdMessage h2,
.motdMessage h3,
.motdMessage h4,
.motdMessage h5,
.motdMessage h6 {
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0.25rem 0;
}
.motdMessage ul,
.motdMessage ol {
  margin: 0.25rem 0;
  padding-left: 1.5rem;
  text-align: left;
}
.motdMessage li {
  display: list-item;
  text-align: left;
}
/* End motd message styles */

.motdClose {
  flex: 0 0 auto;
  cursor: pointer;
  align-self: flex-start;
  margin: 0.25rem 0 0 auto;
}

.preWrapper {
  margin-top: 2.5rem;
  max-height: calc(100% - 9rem);
}

.pre {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 0.8rem;
}

@media only screen and (max-width: 767.98px) {
  .errorAlertHeading {
    font-size: 1.2rem;
  }

  .legend {
    font-size: 1.5rem;
  }
}
