.card {
  width: var(--card-size-width);
  height: var(--card-size-height);
}

.card:global(.whithoutRepo) {
  background-color: #f6f7f9;
}

.cardContent {
  padding: 0.2rem;
  vertical-align: top;
}

.card:global(.bigCard) {
  width: var(--card-size-width) * 2 + var(--card-gap);
  height: var(--card-size-height) * 2 + var(--card-gap);
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.card:global(.bigCard) .cardContent {
  padding: 0.5rem;
}

.card:global(.bigCard.withLabel) .cardContent {
  padding-bottom: 1.5rem;
}

.cardContent:global(.noCursor) {
  cursor: default;
}

.logo {
  font-size: calc(var(--card-size-height) / 1.5);
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.card:global(.bigCard) .logo {
  font-size: calc(var(--card-size-height) * 1.5);
}

.card:global(.archived) {
  border-color: rgba(0, 0, 0, 0.075);
}

.card:global(.archived) .cardContent {
  opacity: 0.35;
}

.card:global(.archived) .logo {
  filter: grayscale(1);
}

.legend {
  background-color: var(--bs-gray-100);
  font-size: 0.5rem;
  line-height: 0.4rem;
  padding: 0.25rem 0;
}

:global(.zoom-2) .legend,
:global(.zoom-3) .legend {
  font-size: 0.4rem;
  line-height: 0.45rem;
  padding: 0.15rem 0;
}

:global(.zoom-0) .legend,
:global(.zoom-1) .legend {
  font-size: 0.3rem;
  line-height: 0.3rem;
  padding: 0.15rem 0;
}

:global(.zoom-0) .cardContent,
:global(.zoom-1) .cardContent,
:global(.zoom-2) .cardContent,
:global(.zoom-3) .cardContent {
  padding: 0.25rem;
}

:global(.zoom-0) .cardContent,
:global(.zoom-1) .cardContent,
:global(.zoom-2) .cardContent,
:global(.zoom-3) .cardContent {
  padding: 0.15rem;
}

:global(.zoom-0) .card:global(.bigCard) .cardContent,
:global(.zoom-1) .card:global(.bigCard) .cardContent,
:global(.zoom-2) .card:global(.bigCard) .cardContent,
:global(.zoom-3) .card:global(.bigCard) .cardContent {
  padding: 0.25rem;
}

:global(.zoom-2) .card:global(.bigCard.withLabel) .cardContent,
:global(.zoom-3) .card:global(.bigCard.withLabel) .cardContent {
  padding-bottom: 1rem;
}

:global(.zoom-0) .card:global(.bigCard.withLabel) .cardContent,
:global(.zoom-1) .card:global(.bigCard.withLabel) .cardContent {
  padding-bottom: 0.75rem;
}

.dropdown {
  min-width: 200px;
  font-size: 0.85rem;
  margin-top: calc(var(--card-size-height) + 0.5rem);
  min-height: 210px;
  border-color: var(--bs-gray-600);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
  z-index: 1100;
}

.card:global(.bigCard) .dropdown {
  margin-top: calc(var(--card-size-height) * 2 + var(--card-gap) + 0.5rem);
}

.centerAligned {
  left: 50%;
}

.leftAligned {
  left: 0;
}

.rightAligned {
  right: calc(var(--card-size-width) * -1);
}

.topAligned {
  top: auto;
  bottom: 10px;
  box-shadow: 0 -0.15rem 1rem rgba(0, 0, 0, 0.25) !important;
}

.bottomAligned {
  top: 0;
}

.card:global(.bigCard) .rightAligned {
  right: calc(var(--card-size-width) * 2 * -1);
}

.arrow {
  top: -0.5rem;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem;
  border-color: transparent;
  border-bottom-color: var(--bs-gray-700);
  width: 0;
  height: 0;
}

.topAligned .arrow {
  top: auto;
  bottom: -0.5rem;
  border-width: 0.5rem 0.5rem 0;
  border-bottom-color: transparent;
  border-top-color: var(--bs-gray-700);
}

.centerAligned .arrow {
  left: calc(50% - 0.5rem);
}

.leftAligned .arrow {
  left: calc((var(--card-size-width) / 2) - 0.5rem);
}

.card:global(.bigCard) .leftAligned .arrow {
  left: calc(var(--card-size-width) - 0.5rem);
}

.rightAligned .arrow {
  left: calc(100% - (var(--card-size-width) / 2) - 0.5rem);
}

.card:global(.bigCard) .rightAligned .arrow {
  left: calc(100% - var(--card-size-width) - 0.5rem);
}
