<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    {% if datasets.base.images.favicon.is_some() %}
    <link rel="shortcut icon" href="{{ datasets.base.images.favicon.as_ref().unwrap() }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if datasets.base.images.open_graph.is_some() %}
    <link rel="apple-touch-icon" href="{{ datasets.base.images.open_graph.as_ref().unwrap() }}" />
    {% endif %}
    <title>{{ datasets.base.foundation }} Landscape</title>
    <% if (isDev) { %>
    <script>
      fetch("./static/base.json")
      .then(res => res.json())
      .then(data => window.baseDS = data);

      fetch("./static/stats.json")
      .then(res => res.json())
      .then(data => window.statsDS = data);
    </script>
    <% } else { %>
    <script>
      window.baseDS = {{ datasets.base|json_compact|safe }};
      window.statsDS = {{ datasets.stats|json_compact|safe }};
    </script>
    <% } %>
  </head>
  <body>
    <div id="landscape"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>


