.title {
  font-size: 0.9rem;
  min-width: 0;
}

.section {
  scroll-margin: 4rem;
}

.catTitle {
  background-color: var(--bs-gray-100);
}

.card {
  font-size: 85%;
  cursor: pointer;
}

.archived {
  border-color: rgba(0, 0, 0, 0.075);
}

.archived .cardContent {
  opacity: 0.6;
}

.archived .logo {
  filter: grayscale(1);
}

.selectLegend {
  font-size: 0.75rem;
}

.btnIcon {
  margin-top: -2px;
}

@media only screen and (min-width: 576px) {
  .card {
    height: 237px;
  }
}
